<template>
  <div class="h-screen">
    <div id="proxy_name"></div>
        <div class="border-2">
          Input one : <input type="text" v-model="one"><br/>
          Output one : {{one}}<br/>
        </div>

        <div class="border-2">
          Input two.A.a : <input type="text" v-model="two.A.a"><br/>
          Output two.A.a : {{ two.A.a }}<br/>
          <button @click="on_two">two</button>
        </div>

        <div class="border-2">
          Input three.A.a : <input type="text" v-model="three.A.a"><br/>
          Output three.A.a : {{ three.A.a }}<br/>
          <button @click="on_three">three</button>
        </div>

        <div class="border-2">
          Input four.A.a : <input type="text" v-model="four.A.a"><br/>
          Output four.A.a : {{ four.A.a }}<br/>
          <button @click="on_four">four</button>
        </div>

   </div>
</template>

<script>
import HelloWorld from '../components/HelloWorld.vue'
import { ref, reactive, watch, computed, markRaw } from 'vue'

export default {
  components: {
    HelloWorld
  },

  setup() {

    const target = {
      name: "Umai",
    };
    const p = new Proxy(target, {
      get(target, key) {
        console.log(target, key)
        document.getElementById("proxy_name").innerHTML = target[key]
        return target[key]
      },
      set(target, key, value) {
        target[key] = value
        document.getElementById("proxy_name").innerHTML = value
        return true
      },
    });
    /*
    setTimeout(()=>{
      console.log("trigger getter", p.name)
    }, 2000)
    setTimeout(()=>{
      p.name = "Yami"
    }, 4000)
    /**/

    /**/
    let zero = reactive({'A': 0})
    // let zero = reactive(0)
    watch(zero,
      (v) => {
        console.log(zero, zero.A)
      },
      {
        immediate: true,
      }
    )
    /**/

    const one = ref(1)
    // let one = 1
    /*
    watch(one,
      (v) => {
        console.log(one, one.value, v)
      },
      {
        immediate: true,
      }
    )
    /**/

    const two = ref({"A":{"a":2}, "name":"two"})
    /*
    watch(two,
      (v) => {
        console.log(two, v, two.value.name, v.name)
      },
      {
        immediate: true,
        deep: false   // true or false 有差
      }
    )
    /**/
    function on_two() {
      // two.value.A = {"a":"click"}
      two.value.A.a += 2
    }


    const three = reactive({
      "A":{"a":3}, "name":"three",
      "B":markRaw({"b":3})
    })
    /*
    watch(three,
      (v) => {
        console.log(three, v)
        console.log(three.A, three.name, three.B)
      },
      {
        immediate: true,
        deep: false  // 對 reactive 沒有差別
      }
    )
    watch(()=>three.A,
      (v) => {
        console.log("watched three.A", v)
      }
    )
    watch(()=>three.A.a,
      (v) => {
        console.log("watched three.A.a", three.A.a, v)
      }
    )
    watch(()=>three.B.b,
      (v) => {
        console.log("watched three.B.b", v)
      }
    )
    /**/
    function on_three() {
      three.A.a += 1
      // three.A = {"b":"click"}
      // three.name = "three+1"
      three.B.b = "on three.B.b"
    }


    const four = {"A":{"a":4}, "name":"four"}
    /*
    watch(()=>four.name,
      (v) => {
        console.log("watch four", four, v)
      }
    )
    /**/

    const five = ref(four) // reactive(five)
    /*
    watch(five,
      (v) => {
        console.log("watch five", five, v)
      }
    )
    /**/
    function on_four() {
      // four.name = "four+1"
      // five.name = "four+2"
      five.value = {"name": "four+3"} // five.value.name = "four+3" <-- no reactive
      console.log("on click four", four.name)
    }

    return { one, two, on_two, three, on_three, four, on_four }
  }
}
</script>

<style>

</style>
